#!/bin/sh


# !! WARNING: This is a generated script. If you have problems with the contents then
# there is a problem with the mojo.  Please correct the issue in the pom plugin (mojo) itself rather
# than changing this script.

##
# This script cleans up any items that need to be removed upon uninstallation
##

# We are running an rpm delete so lets remove the service
if [ "$1" = "0" ]; then
    if [ -h "/etc/rc.d/init.d/${SVC_NAME}" ]; then
        echo "Removing ${SVC_NAME} service"
        service ${SVC_NAME} stop
        chkconfig --del ${SVC_NAME}
    fi
fi