#!/bin/sh

#*
Variables used
   PKG_USER
   PKG_USERID
   PKG_GROUP
   PKG_GROUPID
   PKG_NAME
   PKG_INSTALL_LOC
*#


#set( $SERV_LOG = "$PKG_INSTALL_LOC/log/$PKG_NAME" )
#set( $PKG_CACHE_ROOT = "$PKG_INSTALL_LOC/cache" )

# mod or script so they have the execute bit set
chmod +x $PKG_INSTALL_LOC/bin/*

if [ -e $PKG_INSTALL_LOC/bin/${PKG_NAME}.sh ];
then
    if [ ! -e /etc/init.d/$PKG_NAME ]; then
        ln -s $PKG_INSTALL_LOC/bin/${PKG_NAME}.sh /etc/init.d/$PKG_NAME
    fi
fi


if [ ! -e $SERV_LOG ];
then
    mkdir -p $SERV_LOG
fi

# setup the cache directory if needed
if [ ! -e $PKG_CACHE_ROOT ];
then
    mkdir $PKG_CACHE_ROOT
fi

if [ ! -e $PKG_CACHE_ROOT/redis ];
then
    mkdir $PKG_CACHE_ROOT/redis
fi

if [ ! -e $PKG_CACHE_ROOT/$PKG_NAME ];
then
    mkdir $PKG_CACHE_ROOT/$PKG_NAME
fi

if [ ! -e $PKG_INSTALL_LOC/cache ]; then
    # create the symlink to this from the services home directory
    ln -s $PKG_CACHE_ROOT/$PKG_NAME $PKG_INSTALL_LOC/cache
fi

# make sure $PKG_CACHE_ROOT is owned by $PKG_USER
if [ -e $PKG_CACHE_ROOT/$PKG_NAME ];
then
    chown -R $PKG_USER:$PKG_GROUP $PKG_CACHE_ROOT/$PKG_NAME
fi

if [ -e $SERV_LOG ];
then
    chown -R $PKG_USER:$PKG_GROUP $SERV_LOG
fi

chmod 755 $SERV_LOG
chmod 755 $PKG_CACHE_ROOT/$PKG_NAME

# setup on the final steps of the service so on reboots, it will startup
# Register the service on initial install
if [ "$1" = "1" ]; then
    if [ -h "/etc/rc.d/init.d/${PKG_NAME}" ]; then
        echo "Adding ${PKG_NAME} service"
        chkconfig --add ${PKG_NAME}
        chkconfig ${PKG_NAME} on
    fi
fi

echo "Post Install Completed! Remember to go to ${PKG_INSTALL_LOC}/conf and copy the correct configs for your install environment"

