#!/bin/sh

#*
 External parameters expected:

   PKG_USER
   PKG_USERID
   PKG_GROUP
   PKG_GROUPID
   PKG_NAME
   PKG_INSTALL_LOC
*#

#*
The following 'empty sets' are necessary so that velocity will escape the variables
below properly.
*#
#set( $WAR_HOME = "" )

echo "Preinstallation..."

WAR_HOME=$PKG_INSTALL_LOC/war
if [ "$1" = "2" ]; then
    # we are doing an upgrade
    echo "Stopping $PKG_NAME service"
    /sbin/service $PKG_NAME stop
fi;

#need to check every time because if there is no guarantee the dir or user exists

echo "Making directories and minpulating permission and users..."

if [ ! -e $PKG_INSTALL_LOC ]; then
    mkdir -p $PKG_INSTALL_LOC
fi;

 echo "Before group"
if [ -z `grep $PKG_GROUP /etc/group` ]; then
    echo "Adding group $PKG_GROUP"
    /usr/sbin/groupadd -g PKG_GROUPID $PKG_GROUP
fi;
echo "Before user"
if [ -z `grep $PKG_USER /etc/passwd` ]; then
    echo "Adding user $PKG_USER"
    /usr/sbin/useradd -M -g $PKG_GROUPID -d $PKG_INSTALL_LOC -u $PKG_USERID $PKG_USER
fi;


echo "Directory and permissions complete."

echo "USER: $PKG_USER"
echo "GROUP: $PKG_GROUP"
echo "NAME: $PKG_NAME"
echo "Executing  chown root:$PKG_GROUP $PKG_INSTALL_LOC"
#chown -R $PKG_USER:$PKG_GROUP $PKG_INSTALL_LOC &>/dev/null
chown -R $PKG_USER:$PKG_GROUP $PKG_INSTALL_LOC
chmod 755 $PKG_INSTALL_LOC

echo "Preinstallation complete."