#!/bin/sh

#*
 External parameters expected:

   USER_ID     | REQUIRED  | No default
   GROUP_ID    | REQUIRED  | No default
   SVC_NAME    | REQUIRED  | No default 
   SVC_INSTALL_LOC | REQUIRED | No default
*#

#*
The following 'empty sets' are necessary so that velocity will escape the variables
below properly.
*#
#set( $WAR_HOME = "" )

WAR_HOME=$SVC_INSTALL_LOC/war

if [ "$1" = "2" ]; then
    # we are doing an upgrade
    echo "Stopping $SVC_NAME service"
    /sbin/service $SVC_NAME stop
fi;

#need to check every time because if there is no guarantee the dir or user exists

if [ ! -e $SVC_INSTALL_LOC ]; then
    mkdir -p $SVC_INSTALL_LOC
fi;

if [ -z `grep $SVC_GROUP /etc/group` ]; then
    echo "Adding group $SVC_GROUP"
    /usr/sbin/groupadd -g GROUP_ID $SVC_GROUP
fi;
if [ -z `grep $SVC_USER /etc/passwd` ]; then
    echo "Adding user $SVC_USER"
    /usr/sbin/useradd -M -g $GROUP_ID -d \$ROOT/$SVC_NAME -u $USER_ID $SVC_USER
fi;

chown root:$SVC_GROUP $SVC_INSTALL_LOC &>/dev/null
chmod 755 $SVC_INSTALL_LOC

## Patch for upgrading to use drsuser instead of ioapp as the user
echo "SVCUSER: $SVC_USER"
echo "SVCGROUP: $SVC_GROUP"
echo "SVCNAME: $SVC_NAME"
chown -R $SVC_USER:$SVC_GROUP $SVC_INSTALL_LOC/$SVC_NAME &>/dev/null

if [ -d \$WAR_HOME ]; then
    cd \$WAR_HOME/..
    rm -rf war
    cd $SVC_INSTALL_LOC
fi
